@page
@model DoAnCoSo.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2 style="margin-top:10rem">Forgot Password</h2>
<p>
    If an account with that email exists, a password reset link has been sent. Please check your email.
</p>
