@{
    Layout = null;
}
<nav class="nav-long">
    <a class="nav-long__item nav-long__item-news nav-long__item--active" href="/Post/Index">
        <i class="nav-long__icon fas fa-tv"></i>
        <span class="nav-long__item-name">Newsfeed</span>
    </a>
    <a class="nav-long__item nav-long__item-members" href="/Profile/MyFriends">
        <i class="nav-long__icon fas fa-user"></i>
        <span class="nav-long__item-name">Member</span>
    </a>
    <a class="nav-long__item nav-long__item-groups" href="/Groups/Index">
        <i class="nav-long__icon fas fa-users"></i>
        <span class="nav-long__item-name">Groups</span>
    </a>
    <a class="nav-long__item nav-long__item-blog" href="/Blog/Index">
        <i class="nav-long__icon fas fa-blog"></i>
        <span class="nav-long__item-name">Blog</span>
    </a>
    <a class="nav-long__item" href="/Badges/Index">
        <i class="nav-long__icon fas fa-ribbon"></i>
        <span class="nav-long__item-name">Badges</span>
    </a>
    <a class="nav-long__item" href="/Quests/Index">
        <i class="nav-long__icon fas fa-star-half-alt"></i>
        <span class="nav-long__item-name">Quests</span>
    </a>
    <a class="nav-long__item" href="/Ranks/Index">
        <i class="nav-long__icon fas fa-layer-group"></i>
        <span class="nav-long__item-name">Ranks</span>
    </a>
    <a class="nav-long__item" href="/Credits/Index">
        <i class="nav-long__icon far fa-gem"></i>
        <span class="nav-long__item-name">Credits</span>
    </a>
</nav>
